.login_div {
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    color:white;
}
  
.login_h2 {
    text-align: center;
    color: #3adb00;
  }
  
.login_form {
    display: flex;
    flex-direction: column;
  }
  
.login_label {
    margin: 10px 0;
    font-weight: bold;
    color: #ffffff;
  }
  
.login_input {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.login_button {
    background-color: #061dca;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.login_button:hover {
    background-color:#06ca0f ;
}

.top{
  margin:10px;
  text-decoration: none;
  color: rgb(201, 244, 8);
}